<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:label="Bhajo Store"
        android:icon="@drawable/bhajo_store_icon"
        android:roundIcon="@drawable/bhajo_store_icon"
        android:usesCleartextTraffic="false">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        
        <!-- Default Launcher Alias -->
        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/bhajo_store_icon"
            android:roundIcon="@drawable/bhajo_store_icon"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Festival Aliases -->
        <activity-alias
            android:name=".MainActivityMakarSankranti"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/makar_sankranti"
            android:roundIcon="@drawable/makar_sankranti"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityMahaShivaratri"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/maha_shivaratri"
            android:roundIcon="@drawable/maha_shivaratri"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityHoli"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/holi"
            android:roundIcon="@drawable/holi"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRamNavami"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ram_navami"
            android:roundIcon="@drawable/ram_navami"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRathYatra"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/rath_yatra"
            android:roundIcon="@drawable/rath_yatra"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRakshaBandhan"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/raksha_bandhan"
            android:roundIcon="@drawable/raksha_bandhan"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityKrishnaJanmashtami"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/krishna_janmashtami"
            android:roundIcon="@drawable/krishna_janmashtami"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityGaneshChaturthi"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ganesh_chaturthi"
            android:roundIcon="@drawable/ganesh_chaturthi"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityDurgaPuja"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/durga_puja"
            android:roundIcon="@drawable/durga_puja"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLaxmiPuja"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/laxmi_puja"
            android:roundIcon="@drawable/laxmi_puja"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityDiwali"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/diwali"
            android:roundIcon="@drawable/diwali"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
